@{
    ViewBag.Title = "Home Page";
}

@*<div>
    <background = "/CapstoneDeliveryService/images/foodBackground2.jpg" />
</div>*@<style>
    body {
        background-image: url("../images/foodBackground2.jpg");
       	/*background: url('bklynbridge.jpg');*/
	    background-size: cover; 
    }
</style>
@*<form method="post" action="<%: Url.Action("Contacts", "Home" ) %>
    ">
    <input type="submit" value="Go To Restaurants"/> @*/Home/About" />*@
@*</form>*@